:root {
    --turquesa-vivo: #34E0B6;
    --ardosia-escura: #573843;
    --laranja-quente: #FFA834;
    --vermelho-coral: #FF5D5D;
    --marrom-escuro: #573843;
    --marrom-claro: #bab0b4;
    --branco-floral: #FFFDF1;
    --amarelo-dourado: #FFB24A;
    --amarelo-oliva-escuro: #B1A770;

    --normal: 400;
    --medio: 500;
    --semibold: 600;
    --bold: 700;
}

* {
    margin: 0;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Remove o scroll horizontal */
    background-color: var(--branco-floral);
    color: var(--marrom-escuro);
    height: 100%;
}

a {
    text-decoration: none;
    /* Remove o sublinhado */
    color: inherit;
    /* Mantém a cor do texto padrão */
}

a:hover {
    text-decoration: none;
    /* Remove o sublinhado ao passar o mouse */
    color: inherit;
    /* Mantém a cor do texto padrão */
}

a:focus {
    outline: none;
    /* Remove a borda de destaque ao focar */
}

a:visited {
    color: inherit;
    /* Remove a cor roxa dos links visitados */
}

.simple-button {
    background-color: var(--laranja-quente);
    border: none;
    border-radius: 20px;
    height: 30px;
    padding: 0 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: var(--semibold);
    cursor: pointer;
    width: fit-content;
}

main h1 {
    margin-bottom: 30px;
}

.menu {
    color: var(--marrom-escuro);
    display: flex;
    height: 79px;
    justify-content: center;
    padding: 0 8.5rem;
    gap: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--bold);
    /* Bold */
    font-size: 13px;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: var(--ardosia-escura);
    font-family: 'Poppins', sans-serif;
    font-weight: var(--semibold);
}

.menu h2 {
    font-size: 24px;
    margin: 0 0 5px 0;
}


#nav {
    font-size: 16px;
    display: flex;
    gap: 35px;
    padding: 0 10px;
    align-items: center;
    flex-direction: row;
    font-weight: var(--semibold);
    /* SemiBold */
}


.input {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: rgba(87, 56, 67, 0.15);
    flex-grow: 1;
    color: var(--marrom-escuro);
    font-weight: var(--normal);
    border: none;
}

input {
    color: var(--marrom-escuro);
    border: none;
    background-color: transparent;
    border-radius: 20px;

}

button {
    border-radius: 50px;
    padding: 5px 10px;
    height: 34px;
}

.search-input img {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
}

input:focus {
    outline: none;
    /* Remove a borda de destaque */
}

.userName {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--marrom-escuro);
    border-radius: 50px;
    font-weight: var(--normal);
    /* Regular */
    height: 30px;
    justify-content: space-between;
}

.userName span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: var(--marrom-escuro);
    color: white;

    margin: 0 -0.5px 0 0;
}

.userName p {
    padding: 0 10px;
}

main {
    padding: 75px 135px;
}


/* ===== CARDS ====== */

.cards-content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 276px;
    height: 315px;
    padding: 10px;
    border: 1px solid var(--marrom-claro);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.card .image {
    width: 100%;
    min-height: 148px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.card .title {
    font-size: 16px;
    color: var(--marrom-escuro);
    font-family: 'Poppins', sans-serif;
    font-weight: var(--semibold);
}

.card .description {
    font-size: 14px;
    color: var(--marrom-claro);
    font-family: "Manjari", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    flex-grow: 1;
    /* height: 60px; */
}

.card .card-actions {
    display: flex;
    justify-content: right;
    gap: 15px;
}


.card .card-actions button {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Manjari", sans-serif;
    color: var(--marrom-escuro);
}

/* ===== FILTERS ===== */

.flex-row {
    display: flex;
    gap: 50px;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 242px;
    height: fit-content;
    border: 1px solid var(--marrom-claro);
    border-radius: 14px;
    padding: 10px;
}

.filter>*:not(:last-child) {
    margin-bottom: 15px;
}

.filter-section>*:not(:last-child) {
    margin-bottom: 7px;
}

.filter-section:not(:last-child) {
    margin-bottom: 10px;
}

.input-content {
    display: flex;
    gap: 5px;
}

.input-content button {
    background-color: #FFA834;
    padding: 3px;
    border: none;
    display: flex;
    border-radius: 50px;
}

.options {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.options .option {
    display: flex;
    background-color: rgba(52, 224, 181, 0.2);
    font-weight: var(--medio);
    color: var(--turquesa-vivo);
    padding: 3px 5px;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 12px;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn,
.btn svg {
    display: flex;
}


.options .option.marked {
    background-color: var(--turquesa-vivo);
    color: white;
}

.buttons {
    justify-content: flex-end;
}

#clear-filter-button {
    background-color: var(--vermelho-coral);
}

/* ===== FOOTER ===== */

.page-footer {
    display: flex;
    padding: 25px 135px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marrom-escuro);
    color: var(--branco-floral);

}

.page-footer nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding: 0;
    gap: 50px;
}

/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 30px 0;
    opacity: 0;
}

.modal-overlay.visible {
    opacity: 1;
    transition: opacity 0.6s ease-out;
}


.modal-content {
    background-color: var(--branco-floral);
    padding: 30px 20px;
    width: 300px;
    max-width: 90%;
    position: relative;
    z-index: 1001;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
    animation: modalContentIn 0.5s ease-out forwards;
    /* Animação de entrada para o conteúdo */

}

/* Animação suave para o conteúdo do modal */
@keyframes modalContentIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
        /* Começa mais alto */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Finaliza na posição original */
    }
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--amarelo-oliva-escuro);
}

.modal-content span {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--marrom-escuro);
    background-color: transparent;
    box-sizing: border-box;
}

.modal-content h2 {
    font-weight: var(--semibold);
}

.modal-content form {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 10px;
}

.modal-content form div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.modal-content form div input {
    box-sizing: border-box;
    width: 100%;
}

.modal-content form button {
    margin: 10px 0 0 0;
    width: 100%;
    border: none;
    background-color: var(--amarelo-dourado);
    color: white;
}
.modal-content form label{
    font-size: 16px;
}
.modal-content a {
    color: var(--amarelo-dourado);
}