:root {
    --turquesa-vivo: #34E0B6;
    --ardosia-escura: #573843;
    --laranja-quente: #FFA834;
    --vermelho-coral: #FF5D5D;
    --marrom-escuro: #573843;
    --marrom-claro: #bab0b4;
    --branco-floral: #FFFDF1;
    --amarelo-dourado: #FFB24A;
    --amarelo-oliva-escuro: #B1A770;

    --normal: 400;
    --medio: 500;
    --semibold: 600;
    --bold: 700;
    font-family: "Manjari", sans-serif;

}

* {
    margin: 0;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Remove o scroll horizontal */
    background-color: var(--branco-floral);
    color: var(--marrom-escuro);
    height: 100%;
}

a {
    text-decoration: none;
    /* Remove o sublinhado */
    color: inherit;
    /* Mantém a cor do texto padrão */
}

a:hover {
    text-decoration: none;
    /* Remove o sublinhado ao passar o mouse */
    color: inherit;
    /* Mantém a cor do texto padrão */
}

a:focus {
    outline: none;
    /* Remove a borda de destaque ao focar */
}

a:visited {
    color: inherit;
    /* Remove a cor roxa dos links visitados */
}

.simple-button {
    background-color: var(--laranja-quente);
    border: none;
    border-radius: 20px;
    height: 30px;
    padding: 0 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: var(--semibold);
    cursor: pointer;
    width: fit-content;
}

main h1 {
    margin-bottom: 30px;
}

.menu {
    color: var(--marrom-escuro);
    display: flex;
    height: 79px;
    justify-content: center;
    padding: 0 8.5rem;
    gap: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--bold);
    font-size: 13px;
    align-items: center;
}

h1,
h2,
h3 {
    color: var(--ardosia-escura);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
    color: var(--ardosia-escura);
    font-family: 'Poppins', sans-serif;
    font-weight: var(--semibold);
}


.menu h2 {
    font-size: 24px;
    margin: 0 0 5px 0;
}


#nav {
    font-size: 16px;
    display: flex;
    gap: 35px;
    padding: 0 10px;
    align-items: center;
    flex-direction: row;
    font-weight: var(--semibold);
    /* SemiBold */
}


.input {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: rgba(87, 56, 67, 0.15);
    flex-grow: 1;
    color: var(--marrom-escuro);
    font-weight: var(--normal);
    border: none;
}

input,
textarea {
    color: var(--marrom-escuro);
    border: none;
    background-color: transparent;
    border-radius: 20px;
    box-sizing: border-box;

}

textarea {
    width: 100%;
    height: auto;
    resize: vertical;
    min-height: 30px;
    line-height: 30px;
}

select {
    -webkit-appearance: none;
    /* Remove a seta no Chrome/Safari */
    -moz-appearance: none;
    /* Remove a seta no Firefox */
    appearance: none;
    /* Remove a seta no navegador padrão */
}

button,
.btn {
    border-radius: 50px;
    padding: 5px 15px;
    height: 34px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: var(--semibold);
    border: none;
    background-color: var(--laranja-quente);
}


button.desabled {
    opacity: 0.5;
    cursor: default;
}

.search-input img {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
}

.display-none {
    display: none;
}

input:focus {
    outline: none;
    /* Remove a borda de destaque */
}

.userName {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--marrom-escuro);
    border-radius: 50px;
    font-weight: var(--normal);
    /* Regular */
    height: 30px;
    justify-content: space-between;
}

.userName span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: var(--marrom-escuro);
    color: white;

    margin: 0 -0.5px 0 0;
}

.userName p {
    padding: 0 10px;
}

main {
    padding: 4.6rem 80px;
}


/* ===== CARDS ====== */

.cards-content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 276px;
    height: 315px;
    padding: 10px;
    border: 1px solid var(--marrom-claro);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.6s ease-in-out;
}

.card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.card-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    transition: background-color 1s ease;
}

.card-add:hover {
    background-color: #5738430c;
}

.card .image {
    width: 100%;
    min-height: 148px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.card .title {
    font-size: 16px;
    color: var(--marrom-escuro);
    font-family: 'Poppins', sans-serif;
    font-weight: var(--semibold);
}

.card .description {
    font-size: 14px;
    color: var(--marrom-claro);
    font-family: "Manjari", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    flex-grow: 1;
    /* height: 60px; */
}

.card .card-actions {
    display: flex;
    justify-content: right;
    gap: 15px;
}


.card .card-actions button {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Manjari", sans-serif;
    color: var(--marrom-escuro);
}

.add-recipe-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(141, 104, 117, 0.3);
    color: var(--marrom-escuro);
    border-radius: 50%;
    width: 24px;
    font-size: 13px;
    height: 24px;
    padding: 0;
    border: none;
    transition: transform 0.6s ease, font-size 0.5s ease;
}

.card-add:hover .add-recipe-circle {
    transform: scale(1.4);
    font-size: 18px;
}


/* ===== FILTERS ===== */

.flex-row {
    display: flex;
    gap: 50px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 242px;
    height: fit-content;
    border: 1px solid var(--marrom-claro);
    border-radius: 14px;
    padding: 10px;
    position: sticky;
    top: 30px;
}

.filter>*:not(:last-child) {
    margin-bottom: 15px;
}

.filter-section>*:not(:last-child) {
    margin-bottom: 7px;
}

.filter-section:not(:last-child) {
    margin-bottom: 10px;
}

.input-content {
    display: flex;
    gap: 5px;
}

.input-content button {
    background-color: #FFA834;
    padding: 3px;
    border: none;
    display: flex;
    border-radius: 50px;
    height: 30px;
}

.options {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.options .option {
    background-color: rgba(52, 224, 181, 0.2);
    color: var(--turquesa-vivo);
    border-radius: 7px;
    padding: 3px 5px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: var(--bold);
    gap: 5px;
    font-family: "Manjari", sans-serif;
    border: none;
    height: min-content;
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn,
.btn svg {
    display: flex;
}


.options .option.marked {
    background-color: var(--turquesa-vivo);
    color: white;
}

.buttons {
    justify-content: flex-end;
}

#clear-filter-button {
    background-color: var(--vermelho-coral);
}

#filter-button {
    flex: 1;
}

/* PAGINATION */

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 0px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--amarelo-dourado);
}

.pagination span {
    background-color: var(--vermelho-coral);
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-width: 50px;
}

/* ===== FOOTER ===== */

.page-footer {
    display: flex;
    padding: 25px 135px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marrom-escuro);
    color: var(--branco-floral);

}

.page-footer nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding: 0;
    gap: 50px;
}

/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 0 30px 0;
    opacity: 0;
}

.modal-overlay.visible {
    opacity: 1;
    transition: opacity 0.6s ease-out;
}


.modal-content {
    background-color: var(--branco-floral);
    padding: 30px 20px;
    width: 300px;
    max-width: 90%;
    position: relative;
    z-index: 1001;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
    animation: modalContentIn 0.5s ease-out forwards;
    /* Animação de entrada para o conteúdo */

}

.modal-recipe {
    overflow-y: auto;
    /* Permite a rolagem vertical */
    width: 750px;
    height: 85%;
    scrollbar-width: none;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Manjari", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-recipe textarea,
.modal-recipe input,
.modal-recipe select {

    font-family: "Manjari", sans-serif;
    color: var(--marrom-escuro);
}

/* Animação suave para o conteúdo do modal */
@keyframes modalContentIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
        /* Começa mais alto */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Finaliza na posição original */
    }
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--amarelo-oliva-escuro);
}

.modal-content span {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--marrom-escuro);
    background-color: transparent;
    box-sizing: border-box;
}

.modal-content h2 {
    font-weight: var(--semibold);
}

.modal-content form {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 10px;
}

.modal-content form div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.modal-content form div input {
    box-sizing: border-box;
    width: 100%;
}

.modal-content form button {
    margin: 10px 0 0 0;
    width: 100%;
    border: none;
    background-color: var(--amarelo-dourado);
    color: white;
}

.modal-content form label {
    font-size: 16px;
}

.modal-content a {
    color: var(--amarelo-dourado);
}

.modal-recipe label {
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}

.modal-recipe .categories {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    padding: 0 5px;
    margin: 5px;
    justify-content: flex-start !important;



}

.modal-recipe .categories button {
    width: auto !important;
    margin: 5px !important;
    padding: 8px;
    height: auto;
    border-radius: 10px;
    white-space: nowrap;
    display: inline-block;
    background-color: rgba(255, 168, 52, 0.3) !important;
    color: var(--amarelo-dourado) !important;
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.modal-recipe .categories button:hover {
    background-color: var(--amarelo-dourado) !important;
    color: white !important;
}
.filtered-categories, .selected-categories{
    flex-direction: row !important;justify-content: flex-start !important;
    flex-wrap: wrap !important;
}
.selected-categories button.selected{
    background-color: var(--amarelo-dourado) !important;
    color: white !important;
}
.modal-recipe .description {
    width: 100%;
    box-sizing: border-box;
}

.ingredients .ingredients-labels {
    display: flex;

    flex-direction: row;
    align-content: center;
    align-items: center;

}

.ingredients .ingredients-labels button {
    margin: 0 0 0 5px !important;
}

.modal-recipe .ingredients input,
.modal-recipe .ingredients select {
    width: auto !important;
    margin: 0 5px 0 0;

}

.modal-recipe .ingredients button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 5px;
}

.upload-container {
    position: relative;
    width: auto !important;
    max-width: 600px;
    margin: 0 auto;
}

.fi {
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: black;
}

.file-input {
    display: none;
    /* Oculta o input de arquivo real */
}

.upload-label {
    display: block;
    border: 2px dashed #8a7d8b;
    /* Cor do contorno */
    border-radius: 12px;
    /* Bordas arredondadas */
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 366px;
    height: 136px;
    background-color: #f9f1f2;
    /* Cor de fundo */
    color: #8a7d8b;
    /* Cor do texto */
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-label:hover {
    background-color: #eae0e4;
    /* Cor de fundo ao passar o mouse */
}

.upload-icon {
    display: block;
    font-size: 36px;
    /* Tamanho do ícone */
    margin-bottom: 10px;
}

.upload-label p {
    margin: 0;
}

.buttons-recipe-modal {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
}

.buttons-recipe-modal button {
    width: fit-content !important;
    margin-left: 10px !important;
    font-size: 13px;
    font-weight: bold;
}

.buttons-recipe-modal button:first-child {
    background-color: var(--turquesa-vivo);
}

.buttons-recipe-modal button:last-child {
    background-color: var(--vermelho-coral);
}

.selected-ingredients {
    margin: 5px 0;
}

.titulo-teste {
    color: blue;
    ;
}

.container {
    font-family: 'Arial', sans-serif;

    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.informacoes {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 10px;
}

.div-btn-voltar {
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border: solid 1px #FFA834;
    background-color: #FFA834;
}

.imagem-informacoes {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.star {
    margin-left: 6px;
    width: 16px;
}

.clock {
    margin-left: 36px;
    margin-right: 6px;
    width: 16px;
}

.autoria-receita {
    display: flex;
    /* Ativa o flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    gap: 8px;
    /* Espaçamento entre os itens (texto, círculo, e bold) */
    font-size: 16px;
    /* Ajuste do tamanho da fonte */
}

.circulo {
    width: 50px;
    height: 50px;
    background-color: #573843;
    border-radius: 50%;
    flex-shrink: 0;
}

.heart {
    width: 32px;
}

.input-comentario {
    padding: 10px;
    margin-bottom: 10px; /* Espaçamento entre o input e os botões */
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #eae0e4;
    width: 100%; /* Ajusta para ocupar toda a largura disponível */
    box-sizing: border-box; /* Inclui o padding na largura */
}

.comentarios-receita{
    margin: auto;
    width: 100%;
}

.comentario-pessoal {
    display: flex;
    align-items: flex-start; /* Alinha o input ao lado do círculo */
    gap: 10px; /* Espaçamento entre o círculo e o input */
    margin-bottom: 40px;
}

.espaco-comentario {
    width: 100%;
    display: flex;
    flex-direction: column; /* Organiza o input e os botões em coluna */
}

.espaco-comentario > div {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    gap: 10px; /* Espaçamento entre os botões */
}

.btn-comentar{
    width: 6rem;
    background-color: #FFA834;
    border: none;
    color: white;
}

.btn-cancelar{
    width: 5rem;
    background-color: #FF5D5D;
    border: none;
    color: white;
}

.comentario-div{
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start; /* Alinha o input ao lado do círculo */
    gap: 10px; /* Espaçamento entre o círculo e o input */
}
