
:root {
    --turquesa-vivo: #34E0B6; /* Turquesa Vivo */
    --ardosia-escura: #573843; /* Ardósia Escura */
    --laranja-quente: #FFA834; /* Laranja Quente */
    --vermelho-coral: #FF5D5D; /* Vermelho Coral */
--marrom-escuro: #573843;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Remove o scroll horizontal */
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto padrão */
}

a:hover {
    text-decoration: none; /* Remove o sublinhado ao passar o mouse */
    color: inherit; /* Mantém a cor do texto padrão */
}

a:focus {
    outline: none; /* Remove a borda de destaque ao focar */
}

a:visited {
    color: inherit; /* Remove a cor roxa dos links visitados */
}

.menu {
color: var(--marrom-escuro);
    display: flex;
    flex-direction: row;
    height: 79px;
   width: 100%;
    justify-content: flex-start;
   padding: 15px 136px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 13px;
    align-items: center;
}
.menu h2{  font-size: 24px;
margin: 0 0 5px 0 ;}


#nav {
    width: 210px;
    font-size: 16px;
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600; /* SemiBold */
}


.search-input {
font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    height: 30px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.search-input img {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
}

.search-input input {
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400; /* Regular */

}
input:focus {
    outline: none; /* Remove a borda de destaque */
}

.userName{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--marrom-escuro);
    border-radius: 50px;
    font-weight: 400; /* Regular */
    height: 30px;
    width: 126px;
    justify-content: space-between;
    margin: 0 0 0 30px;
}
.userName span{ display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: var(--marrom-escuro);
    color: white;

    margin:  0 -0.5px 0 0; }

.userName p{
    width: 70px;
    padding: 0 10px;
}